* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

nav {
    height: 7vh;
    padding: 5px 0px;
    background-color: #0f1111;
    position: sticky;
    top: 0px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-around;
    font-size: 14px;
    cursor: pointer;
}

nav .location img {
    filter: invert(1);
}

nav .location div span {
    font-weight: 700;
}

.search {
    display: flex;
    align-items: center;
    max-width: 60vw;
    height: 5vh;
}

.search select {
    width: 3.3vw;
    padding: 0px 0px 0px 5px;
    border: none;
    height: -webkit-fill-available;
    background-color: #f2f2f2;
    border-radius: 4px 0px 0px 4px;
    overflow: visible;
}

.search select:focus {
    width: auto;
}

.search input {
    width: 42vw;
    height: -webkit-fill-available;
    font-size: 14px;
}

.search .image {
    height: -webkit-fill-available;
}

.search .image button {
    background-color: #febd69;
    height: -webkit-fill-available;
    border: none;
    border-radius: 0px 4px 4px 0px;
    padding: 0px 8px;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.country {
    display: flex;
    align-items: center;
}

.country select {
    border: none;
    background-color: #0f1111;
    color: white;
}

nav .cart img {
    filter: invert(1);
}

nav .cart {
    display: flex;
    align-items: flex-end;
}

.border:hover {
    border: 2px solid white;
    border-radius: 5px;
}

.navbar {
    display: flex;
    background-color: #284058;
    color: white;
    font-size: 14px;
    height: 5vh;
    align-items: center;
    justify-content: space-evenly;
}

.all {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.all img {
    filter: invert(1);
}

.nav2 {
    display: flex;
    justify-content: flex-start;
    width: 70vw;
    gap: 18px;
}
article{
background-image: url("hero_image.jpg");
background-repeat: no-repeat;
height: 55vh;
background-size: max(1200px, 100vw);
}
#box{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    top: 310px;
}
article .link{
    font-size: 14px;
    background-color: white;
    width: 80vw;
    padding: 8px 0px;
    text-align: center;   
}
a{
    font-size: 14px;
    text-decoration: none;
    color: rgb(0, 102, 255);

}
main{
    background-color: rgb(192, 192, 192);
    font-size: 14px;
}
.box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 60vh 60vh 60vh ;
    margin: 15px 15px 15px 15px;
    gap: 15px;
    justify-content:space-around ;
}
.container,.single,.cook{
    background-color: white;
}

h3{
    margin-top:25px ;
    margin-left: 20px;
}
.content{
    font-size: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 135px 135px;
    gap: 10px;
    align-items:center ;
    margin: 10px 10px 10px 10px;
    text-indent:10px ;
}
.box1 img{
    height: 98px;
    width: 138px;
}
.box1 .text{
    text-indent: 10px;
}
.container p{
   margin: 20px;
}
.single .singleimage{
  height:280px;
  width: 295px;
  margin: 15px;
}
.singleimage img{
    height:280px;
    width: 295px;
    object-fit: cover;
    object-position: left;
}
.single p{
    margin: 15px;
}
.content3{
    margin: 0px 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-content: center;
    gap: 5px;
}
.box2
{
    margin: 15px;
}
.box3 img{
 height: 95px;
 width: 95px;
}
.cook p{
    margin-left:15px ;
    margin-top: 28px;
}



















@media only screen and (max-width:1300px){
    .box{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 25vh 25vh 25vh ;
    }
}