@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
    color: white;
}

header {
    background-image: url(bg.jpg);
    height: 480px;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);

}

header .box {
    height: 480px;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;
    background-color: black;
}

.nav {
    display: flex;
    gap: 2px;
    width: 58vw;
    justify-content: space-between;
    align-items: center;
    padding: 2vw 0vw;
    filter: brightness(1);
    position: relative;
    z-index: 1;
    margin: auto;
}
header .lang {
    color: white;
    font-size: 12px;
    border: 1px solid white;
    padding: 4px 6px;
    border-radius: 4px;
}

header button {
    padding: 3px 6px;
    color: white;
    background-color: red;
    border: none;
    border-radius: 3px;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 9vw;
    gap: 25px;
    position: relative;
    z-index: 1;
}

.intro>:first-child {
    font-weight: bolder;
    font-size: 37px;
    box-sizing: border-box;
    text-align: center;
}

.intro span input {

    color: white;
    background-color: rgb(46, 44, 44);
    border: 1px solid white;
    width: 200px;
    padding: 4px 8px;
    border-radius: 3px;
    margin-right: 10px;
}

.intro span button {
    padding: 5px 16px;
    text-align: center;
}

.separator {
    height: 5px;
    background-color: rgb(75, 74, 74);
}

.first {
    display: flex;
    width: 68.5vw;
    justify-items: center;
    flex-wrap: wrap;
    align-content: center;

    margin: 0vw 15.25vw;
}

.first .para {
    align-self: center;
    width: 35vw;
}

.first .para>:first-child {
    font-weight: 700;
    font-size: 37px;
}

.first .image {
    display: grid;
    /* grid-template-columns: 500px;
    grid-template-rows: 350px; */
    justify-items: center;
    align-items: center;
    height: 350px;
}


.image video {
    grid-row: 1/2;
    grid-column: 1/2;
    height: 204px;
    
}
.image img {
    grid-row: 1/2;
    grid-column: 1/2;
    position: relative;
    height: 350px;
    z-index: 1;
}
.second{
    width: 69.1vw;
}
.second .image2 img{
    height: 370px;
}
 .third .image video {
    height: 230px;
}
.fourth .image img{
    height: 300px;
}
.faq h1{
    text-align: center;
    font-size: 37px;
}
.faq .faq1:hover {
    background-color: #414141;
    color: white;
}
.faq .faq1{
    transition: all 1s ease-out;
    background-color:#2d2d2d ;
    max-width: 57vw;
    padding: 10px;
    margin: 2vw 20vw;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.faq .faq1 svg{
    filter: invert(1);
}
.faq .faq4{
    margin-bottom: 45px;
}
footer{
    font-size: 14px;
    padding: 60px 0px;
}
footer>:first-child{
   margin: 3vw 15.5vw;
}
footer div a:link{
        color: white;
}
footer .footer{
     display: grid;
     width: 80vw;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     grid-template-rows: 1fr;
     justify-content: center;
     align-content: center;
     justify-items: center;
     align-items:stretch;
     margin: 0px auto;
}
@media only screen and (max-width:1300px){
    .nav{
        width: 80vw;
        padding: 5vw;
        flex-wrap: wrap;
    }
    .first {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 10px;
        align-content: center;
        margin: 2vw 15.25vw;
    }
    .first .para {
        align-self: center;
        width: 70vw;
    }
    
    .first .para>:first-child {
        font-weight: 700;
        font-size: 37px;
    }
    
    .first .image {
        display: grid;
        justify-items: center;
        align-items: center;
        height: 250px;
    }
    .image video {
        grid-row: 1/2;
        grid-column: 1/2;
        height: 170px;  
    }
    .image img {
        grid-row: 1/2;
        grid-column: 1/2;
        position: relative;
        height: 250px;
        z-index: 1;
    }
    .second{
        width: 69.1vw;
    }
    .second .image2 img{
        height: 260px;
    }
     .third .image video {
        height: 180px;
    }
    .fourth .image img{
        height: 250px;
    }
    footer .footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}


/* My first project Hurahhhhh */